<!DOCTYPE html>
<html>
   <head>
   	<title>Blog App</title>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
   	<link rel="stylesheet" href="/stylesheets/main.css">
   </head>
   <body>
      <div class="navbar navbar-fixed-top">
         <div class="navbar-header pull-left">
            <a class="navbar-brand" href="/blogs">Travel Blog <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
         </div>
         <div class="navbar-header pull-right" id="addNewButton">
            <a href="/blogs/new" class="btn btn-danger">New blog</a>
            <a class="btn btn-primary" href="/blogs">Back to blogs</a>
         </div>
      </div>