<% include partials/header %>

<div class="loginSignupForm">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <div class="form-group">
            <input type="text" name="username" placeholder="username" class="form-control"></input>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="password" class="form-control"></input>
        </div>
        <button class="btn btn-danger">Login</button>
    </form>
</div>

<% include partials/footer %>