<% include ../partials/header %>

<div class="container">
   <% blogs.forEach(function(blog) { %>
      <div class="row">
         <div class="col-xs-10 col-sm-8 col-md-6 thumbnails">      
            <div class="thumbnail">
               <img src="<%= blog.image %>">
               <div class="caption">
                  <h2><%= blog.name %></h2>
                  <p><%- blog.description.substring(0, 180) %>...</p>
                  <a href="/blogs/<%= blog._id %>" class="btn btn-danger">More info</a>
               </div>
            </div>
         </div>
      </div>
   <% }); %>
</div>

<% include ../partials/footer %>